<div class="header-logo just-print">
    <img height="45px;" src="./client/images/logo_header.png" />
</div>

<div class="title-header">

    <h1>Laporan Surat Pembayaran Aktif</h1>
    <hr class="just-print" />
</div>
<div class="fab-right">
    <md-button class="md-fab md-info " aria-label="Use Android" ng-click="print()">
        <md-icon md-font-icon="fa fa-print"></md-icon>
    </md-button>
</div>

<table class="table table-border" cellspacing="0" width="100%" ng-init="Init('aktif')">
    <thead>
        <tr>
            <th>No</th>
            <th>Nomor SP</th>
            <th>Kode Bayar</th>
            <th>Peserta</th>
            <th>Masa Berlaku</th>
            <th>Jumlah</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in Datas | filterBy: ['status']:'aktif'">
            <td>{{$index+1}}</td>
            <td>{{data.nomorSurat}}</td>
            <td>{{data.kodeBayar}}</td>
            <td>{{data.nasabah.nama}}</td>
            <td>{{data.berlakuDariTanggal | date:'dd MMM yyyy'}} - {{data.berlakuSampaiTanggal| date:'dd MMM yyyy'}}
            </td>
            <th>Rp. {{data.jumlah|number}}</th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">Total</td>
            <td>Rp. {{sumGroup(Datas) |number}}</td>
        </tr>
    </tfoot>
</table>




<div id="ttd">
    Jayapura , {{tanggal|date:'dd MMMM yyyy'}}
    
    <div id="ttdName">
       S E T Y A  N I N G S I H
    </div>
    Kepala Kantor Cabang
</div>




<style>
    th,
    td {
        border: 1px rgb(189, 188, 188) solid;
        padding: 0px !important;
        vertical-align: middle;
    }

    th {
        text-align: center !important;
    }

    #ttd{
        margin: 20px;
        position: absolute;
        padding: 20px;
        right: 10px;
        text-align: center;
    }
    #ttdName{
        margin-top: 75px;
        text-decoration: underline;
    }

</style>