<div class="header-logo just-print">
        <img height="45px;" src="./client/images/logo_header.png" />
    </div>
    
    <div class="title-header">
    
        <h1>Laporan Surat Pembayaran Terbayarkan</h1>
        <hr class="just-print" />
    </div>
    
    <table class="table table-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>No</th>
                <th>Nomor SP</th>
                <th>Kode Bayar</th>
                <th>Nasabah</th>
                <th>Masa Berlaku</th>
                <th>Jumlah</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>102/SP-ASABRI/IX/2019</td>
                <td>ED12323213FD</td>
                <td>Budi Chandra</td>
                <td>23 Mar 2019 - 21 Juni 2020</td>
                <th>25.000.000</th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Total</td>
                <td>Rp.25.000.000</td>
            </tr>
        </tfoot>
    </table>