<div class="header-logo just-print">
    <img height="45px;" src="./client/images/logo_header.png" />
</div>

<div class="title-header">

    <h1>Laporan Surat Pembayaran Terbayarkan</h1>
    <hr class="just-print" />
</div>

<table class="table table-border" cellspacing="1" width="100%">
    <thead>
        <tr style="background-color: rgb(209, 207, 207)">
            <th>No</th>
            <th>Tanggal Bayar</th>
            <th>Kode Bayar</th>
            <th>Peserta/Penerima</th>
            <th>Jenis</th>
            <th>Jumlah Dibayar</th>
            <th>Nomor SP</th>
            <th>NTB</th>
            <th>Kode MB </th>
            <th>Nama MB</th>
        </tr>
    </thead>
    <tbody ng-repeat="data in datas | filterBy: ['kodeMitraBayar']:me.kodeMitra">
        <tr >
            <td>{{$index+1}}</td>
            <td>{{data.tanggalBayar|date:'dd-MM-yyyy'}}</td>
            <td>{{data.kodeBayar}}</td>
            <td>{{data.namaPenerima}}</td>
            <td>{{data.jenisAsuransi}}</td>
            <td style="text-align: right">Rp. {{data.jumlah|number}}</td>
            <td>{{data.nomorSurat}}</td>
            <td>{{data.nomorBuktiBayar}}</td>
            <td>{{data.kodeMitraBayar}}</td>
            <td>{{data.namaMitraBayar}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr style="background-color: rgb(209, 207, 207)">
            <td colspan="5">Total {{key}}</td>
            <td style="text-align: right">Rp.{{sumGroup(datas)|number}}</td>
            <td colspan="5"></td>
        </tr>
    </tfoot>
</table>