<div layout="column" style="height:100vh;" ng-cloak>
    <section layout="row" class="left-side" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">ASABRI</h1>
            </md-toolbar>
            <md-content ng-controller="LeftCtrl">
                <div class="sidenav">
                    <h1>Admin</h1>
                    <ul>
                        <li>
                            <a href="">Home</a>
                        </li>
                        <li>
                            <a href="">Petugas</a>
                        </li>
                        <li>
                            <a href="">Nasabah</a>
                        </li>
                        <li>
                                <a href="">Surat Pembayaran</a>
                            </li>
                        <li>
                            <a href="">About</a>
                        </li>
                    </ul>
                </div>

            </md-content>

        </md-sidenav>

        <md-content flex>
            <div class="navbar">
                <a href="" ng-click="toggleLeft()" ><i class="fa fa-list"></i></a>
                <ul style="position:fixed;right:0px">
                    <userlogin></userlogin>
                </ul>
            </div>

            <div layout="column" layout-padding layout-align="top center">
                <md-card class="data-content">
                    <md-card-content>
                        <ui-view></ui-view>
                         <h1>Judul</h1>   
                        <table class="table table-striped" cellspacing="0" width="100%" datatable="ng">
                                <thead>
                                  <tr>
                                    <th>NO</th>
                                    <th>Nama</th>
                                    <th>TTL</th>
                                    <th>Telepon</th>
                                    <th>Pekerjaan</th>
                                    <th>Alamat</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="data in datas">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ data.nama }}</td>
                                    <td>{{ data.tempatLahir}}, {{data.tanggalLahir | date:'dd-mm-yyyy'}}</td>
                                    <td>{{ data.telepon }}</td>
                                    <td>{{ data.pekerjaan }}</td>
                                    <td>{{ data.alamat }}</td>
                                    <th>
                                      <a ui-sref="cs-edit-debitur({id: data.iddebitur})">Edit</a> | <a ng-click="delete(data)">Delete</a>
                                    </th>
                                  </tr>
                                </tbody>
                              </table>
                    </md-card-content>
                </md-card>
            </div>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput" ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>

        </md-sidenav>

    </section>

</div>