<div class="mitra-cari" ng-init="sbb=true;">
    <div class="cari">
        <h1>Cari Surat Pembayaran</h1>
        <h6>Pencarian dapat dilakukan berdasarkan Nomor Surat Bayar, Kode Bayar</h6>
        <div class="mitra-cari-container">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <input ng-model="model.nomor" ng-change="error=false">
                </md-input-container>
                <md-input-container>
                        <md-button ng-disabled="!model.nomor" class="md-raised md-primary" ng-click="Cari(model.nomor,sbb)">Cari</md-button>
                </md-input-container>
            </div>
        </div>

        <div class="mitra-cari-options">
                <md-button ng-click="sbb=true;error=false" ng-disabled="sbb" ng-click="" md-no-ink class="md-primary">Nomor SP</md-button>
                <md-button ng-click="sbb=false;error=false" ng-disabled="!sbb" class="md-primary">Kode Bayar</md-button>
        </div>
        
        <div class="mitra-cari-options" ng-if="error">
                <div class="error" ng-if="sbb && error">Nomor SP : {{model.nomor}}</div>
                <div class="error" ng-if="!sbb && error">Kode Bayar : {{model.nomor}}</div>
                <div class="error" ng-if="error">Tidak Ditemukan</div>
       
        </div>






    </div>
</div>