<h1>Surat Pembayaran</h1>

<div class="sb">
    <form>
        <div class="sb-item">
            <div flex="" class="sb-content">
                <div class="sb-title">
                    Data Surat Pembayaran
                </div>
                <md-input-container class="md-block">
                    <label>Nomor Surat</label>
                    <input ng-model="model.nomorSurat" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>tanggal berlaku</label>
                    <input readonly
                        value="{{model.berlakuDariTanggal|date:'dd MMM yyyy'}} - {{model.berlakuSampaiTanggal|date:'dd MMM yyyy'}}">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mitra Bayar</label>
                    <input ng-model="model.nomorSurat" readonly>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Kode Bayar</label>
                    <input ng-model="model.kodeBayar">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Jumlah</label>
                    <input ng-model="model.jumlah" type="number">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Terbilang</label>
                    <textarea ng-model="getTerbilang(model)"></textarea>
                </md-input-container>
            </div>
            <div flex="" class="sb-content">
                <div class="sb-title">
                    Data Nasabah
                </div>
                <md-input-container class="md-block">
                    <label>Nama</label>
                    <input ng-model="model.nasabah.nama">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nomor Nasabah</label>
                    <input ng-model="model.nasabah.nomorPeserta">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Pangkat/GOL</label>
                    <input ng-model="model.nasabah.pangkat">
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block">
                        <label>Tanggal Lahir</label>
                        <input readonly value="{{model.nasabah.tanggalLahir|date:'dd MMM yyyy'}}">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Tanggal SKEP</label>
                        <input readonly value="{{model.nasabah.tanggalSKEP|date:'dd MMM yyyy'}}">
                    </md-input-container>
                    <md-input-container>
                        <label>Tanggal Pensiun</label>
                        <input readonly value="{{model.nasabah.tanggalPensiun|date:'dd MMM yyyy'}}">
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Kode Jiwa</label>
                    <input ng-model="model.nasabah.kodeJiwa" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Alamat</label>
                    <textarea readonly ng-model="model.nasabah.alamat" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div flex="" class="sb-content">
                <div class="sb-title">
                    Data Penerima
                </div>
                <md-input-container class="md-block">
                        <label>Status Penerima</label>
                        <input ng-model="model.statusPenerima">
                    </md-input-container>
                <md-input-container class="md-block">
                    <label>Nama Penerima</label>
                    <input ng-model="model.namaPenerima">
                </md-input-container>
                <md-input-container class="md-block">
                        <label>Nomor Rekening</label>
                        <input ng-model="model.noRekening">
                    </md-input-container>
            </div>
            <div flex="" class="sb-content print-hide"
                ng-show="model && model.status=='terbayar' && !model.pembayaran && me.idBank==model.idBank">
                <md-checkbox ng-showBukti="!model.pembayaran" ng-click="getPembayaran(model)" ng-model="isShowBukti"
                    aria-label="Checkbox 1">
                    Lihat Bukti
                </md-checkbox>
                <md-progress-circular ng-if="circleShow" class="md-lime md-hue-2" md-diameter="40">
                </md-progress-circular>
            </div>
            <div id="id-bukti" style="grid-column: 1/3"  flex="" class="sb-content" ng-if="model.pembayaran">
                <div class="sb-title">
                    Data Pembayaran
                </div>
                <md-input-container class="md-block">
                    <label>Nomor Bukti Bayar</label>
                    <input ng-model="model.pembayaran.nomorBuktiBayar">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Tanggal Pembayaran</label>
                    <input ng-model="model.pembayaran.tanggalBayar| date:'dd MMMM yyyy'">
                </md-input-container>
                <md-input-container class="md-block">
                    <img ng-src="data:image/JPEG;base64,{{model.pembayaran.buktiBayar}}" alt="..." width="100%"
                        height="200">
                </md-input-container>

            </div>
        </div>
    </form>


</div>

<div class="sb print-hide" style="text-align: center">
    <div class="sb-content" style="padding: 0px">

        <md-button ng-if="btn.title" ng-disabled="btn.disabled" class="md-primary md-raised"
            style="width:auto !important" ng-click="createPembayaran($event,model)">{{btn.title}}</md-button>
    </div>
</div>