<h1>Surat Pembayaran</h1>
<div class="fab-container">
        <md-button class="md-fab md-primary fab-right" aria-label="Use Android" ui-sref="admin-add-surat-bayar">
                <md-icon md-font-icon="fa fa-plus"></md-icon>
            </md-button>
</div>

<table class="table table-striped" cellspacing="0" width="100%" datatable="ng">
      
    <thead>
        <tr>
            <th>No</th>
            <th>Nomor SP</th>
            <th>Kode Bayar</th>
            <th>Nasabah</th>
            <th>Masa Berlaku</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in datas">
            <td>{{ $index + 1 }}</td>
            <td>{{ data.nomorSurat}}</td>
            <td>{{ data.kodeBayar }}</td>
            <td>{{ data.nasabah.nama }}</td>
            <td>{{ data.berlakuDariTanggal|date:'dd MMM yyyy'}} - {{data.berlakuSampaiTanggal |date:'dd MMM yyyy'}}</td>
            <td>{{ data.status}}</td>
            <th>
                    <a href="" ui-sref="admin-edit-surat-bayar({id:data.idSuratPembayaran})"><i class="fa fa-edit" md-colors="{color: 'amber'}"></i></a>
                    <a href="" ui-sref="admin-edit-surat-bayar({id:data.idSuratPembayaran})"><i class="fa fa-remove" md-colors="{color: 'red'}"></i></a>
                   
            </th>
        </tr>
    </tbody>
</table>

