<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak style="min-width: 400px" ng-submit="answer(model)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tambah User</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-content layout-padding style="padding: 20px;">
                <md-input-container class="md-block">
                    <label>Nama</label>
                    <input ng-model="model.nama" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>User</label>
                    <input ng-model="model.userName" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" ng-model="model.password" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Konfirmasi Password</label>
                    <input type="password" ng-model="model.confirmPassword" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="email" ng-model="model.email" required>
                </md-input-container>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Batal
            </md-button>
            <md-button type="submit" >
                Simpan
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>