<md-dialog aria-label="Mango (Fruit)">
        <form ng-cloak style="min-width: 400px">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Tambah Bank</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                    </md-button>
                </div>
            </md-toolbar>
    
            <md-dialog-content>
                <md-content layout-padding style="padding: 20px;">
                    <md-input-container class="md-block">
                        <label>Kode Bank</label>
                        <input ng-model="model.kodeBank">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Nama Mitra Bayar</label>
                        <input ng-model="model.nama">
                    </md-input-container>
                </md-content>
            </md-dialog-content>
    
            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">
                    Batal
                </md-button>
                <md-button ng-click="answer(model)">
                   Simpan
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>