<h1>BANK</h1>
<div class="fab-container">
    
    <md-button class="md-fab md-primary fab-right" aria-label="Use Android" ng-click="change($event,null)">
        <md-icon md-font-icon="fa fa-plus"></md-icon>
    </md-button>
    <md-button class="md-fab md-info fab-right" aria-label="Use Android" ng-click="print()">
            <md-icon md-font-icon="fa fa-print"></md-icon>
        </md-button>
</div>
<table class="table table-striped" cellspacing="0" width="100%" datatable="ng">
    <thead>
        <tr>
            <th>NO</th>
            <th>Kode</th>
            <th>Nama Bank</th>
            <th class="print-hide"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in datas">
            <td>{{ $index + 1 }}</td>
            <td>{{ data.kode }}</td>
            <td>{{ data.nama }}</td>
            <th class="print-hide">
                <a href="" ng-click="change($event,data)">Edit</a> | <a ng-click="delete(data)">Delete</a>
            </th>
        </tr>
    </tbody>
</table>
