<h1>Dashboard</h1>

<div id="dashboard">
  <div class="dashboard-head">
    <div layout="row" layout-wrap="">
      <div flex="100" flex-md="50" flex-gt-md="25">
        <md-card id="dashboard-item">
          <md-card-content md-colors="{background:'light-blue'}">
            <div class="icon">
              <i class="fa fa-home"></i>
            </div>
            <h4>Total Surat Pembayaran Dibuat</h4>
            <h1>1.000</h1>
          </md-card-content>
        </md-card>
      </div>
      <div flex="100" flex-md="50" flex-gt-md="25">
        <md-card id="dashboard-item">
          <md-card-content md-colors="{background:'amber'}">
            <div class="icon">
              <i class="fa fa-home"></i>
            </div>
            <h4>Surat Pembayaran Terbayarakan</h4>
            <h1>650</h1>
          </md-card-content>
        </md-card>
      </div>
      <div flex="100" flex-md="50" flex-gt-md="25">
        <md-card id="dashboard-item">
          <md-card-content md-colors="{background:'lime'}">
            <div class="icon">
              <i class="fa fa-home"></i>
            </div>
            <h4>Surat Pembayaran Masih Aktif</h4>
            <h1>350</h1>
          </md-card-content>
        </md-card>
      </div>
      <div flex="100" flex-md="50" flex-gt-md="25">
        <md-card id="dashboard-item">
          <md-card-content md-colors="{background:'red'}">
            <div class="icon">
              <i class="fa fa-home"></i>
            </div>
            <h4>Melewati Tanggal Pembayaran</h4>
            <h1>350</h1>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
<div style="height: 100vh; text-align: center;margin-top:5%">
  <img src="/client/images/logo_header.png" />
  <h1>APLIKASI MONITORING</h1>
  <h1>PELAPORAN DAN PERTANGGUNGJAWABAN</h1>
  <h1>PEMBAYARAN PENSIUN ASABRI</h1>
</div>