
@font-face {
  
    src: url('../fonts/webfontkit-20190909-105136/nunito-regular-webfont.woff2') format('woff2'),
      url('../fonts/webfontkit-20190909-105136/nunito-regular-webfont.woff') format('woff');
      font-family: 'nunitoregular';
      font-weight: normal;
    font-style: normal;
  
  }
  

.mitra-cari{
   position: absolute;
   height: 100vh;
   top: 25%;
   left: 50%;
   transform: translate(-50%);
   text-shadow: 1px 1px 1px silver;
    .cari{
        text-align: center;
    }


    .mitra-cari-container{
        input{
            margin-top: 30px; 
            font-size: 25px !important;
        }
    }
    .mitra-cari-options{
        button{
            width: 120px !important;
            margin: 1px !important;
        }


        .error{
            margin-top: 20px;
            font-size: 35px;
            font-family: "Monserrat";
            color: red;
        }
    }
}


.left-side-header{
    .title{
        font-size: 25px;
        margin-bottom: 5px;
    }   
    .subtitle{
        font-size: 15px;

    }
}

