<div layout="column" style="height:100vh;" ng-cloak>
    <section layout="row" class="left-side" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"
            md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">ADMIN ASABRI</h1>
            </md-toolbar>
            <md-content ng-controller="LeftCtrl">
                <div class="sidenav">
                    <md-list flex>
                        <md-list-item>
                            <md-icon md-font-icon="fa fa-home"></md-icon>
                            <span flex> <a ui-sref="admin-home">Home</a></span>
                        </md-list-item>
                        <md-list-item>
                                <md-icon md-font-icon="fa fa-building"></md-icon>
                                <span flex> <a ui-sref="admin-bank">Bank</a></span>
                            </md-list-item>
                            <md-list-item>
                                    <md-icon md-font-icon="fa fa-link"></md-icon>
                                    <span flex> <a ui-sref="admin-mitra-bayar">Mitra Bayar</a></span>
                                </md-list-item>
                        <md-list-item ng-click="sp = !sp">
                            <md-icon md-font-icon="fa fa-list-alt"></md-icon>
                            <span flex><a ui-sref="admin-home">Surat Bayar</a></span>
                            <md-icon ng-show="!sp">expand_more</md-icon>
                            <md-icon ng-show="sp">expand_less</md-icon>
                        </md-list-item>
                        <div style="background: rgb(255, 255, 255)">
                            <md-list-item ng-show="sp" class="item" ui-sref="admin-add-surat-bayar">
                                    <span flex-offset="15">Baru</span>
                            </md-list-item>
                            <md-list-item ng-show="sp" class="item" ui-sref="admin-surat-bayar">
                                    <span flex-offset="15">Data</span>
                            </md-list-item>
                        </div>

                        <md-list-item ng-click="lp = !lp">
                                <md-icon md-font-icon="fa fa-file"></md-icon>
                                <span flex><a ui-sref="admin-home">Laporan</a></span>
                                <md-icon ng-show="!lp">expand_more</md-icon>
                                <md-icon ng-show="lp">expand_less</md-icon>
                            </md-list-item>
    
                        <div style="background: rgb(255, 255, 255)">
                                <md-list-item ng-show="lp" class="item" ui-sref="admin-add-surat-bayar">
                                        <span flex-offset="15">Realisasi Pembayaran</span>
                                </md-list-item>
                                <md-list-item ng-show="lp" class="item" ui-sref="admin-surat-bayar">
                                        <span flex-offset="15">Lain-Lain</span>
                                </md-list-item>
                            </div>
                    </md-list>
                </div>

            </md-content>

        </md-sidenav>

        <md-content flex>
            <div class="navbar">
                <a href="" ng-click="toggleLeft()"><i class="fa fa-list"></i></a>
                <ul style="position:fixed;right:0px">
                    <userlogin></userlogin>
                </ul>
            </div>

            <div layout="column" layout-padding layout-align="top center">
                <md-card class="data-content">
                    <md-card-content>
                        <ui-view></ui-view>

                    </md-card-content>
                </md-card>
            </div>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput" ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>