<div class="home-main" ng-init="Init()">
    <div class="header-logo" ui-sref="home">
        <img src="/client/images/logo_header.png" />
    </div>

    <md-card class="login animated  fadeIn slow">
        <md-card-title>
          <span class="md-headline">Login</span>
        </md-card-title>
        <md-card-content>
          <form ng-submit="login(user)">
            <md-content class="md-no-momentum active">
              <md-input-container class="md-block">
                <md-icon md-font-icon="fa fa-user"></md-icon>
                <label>User Name</label>
                <input class="active" placeholder="User Name" ng-model="user.userName" type="text" aria-label="userName">
              </md-input-container>
              <md-input-container class="md-block">
                <md-icon md-font-icon="fa fa-lock"></md-icon>
                <label>Password</label>
                <input class="active" placeholder="Password" ng-model="user.password" type="password" aria-label="Password">
              </md-input-container>
            </md-content>
            <md-button class="md-raised md-primary" ng-click="login(user)">Login</md-button>
          </form>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <a href=""> Lupa Paswor </a> |
          <a href="#!/account/register"> Register</a>
        </md-card-actions>
      </md-card>
</div>
